<form id="paypalForm" name ="myForm" ng-submit="setOrder($event)" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<div class="container">
    <div class="col-xs-12">
      <div ng-if="alert" class="alert alert-{{alert.type}}">{{alert.msg}}</div>
      <div ng-if="!cart.length && alert.type != 'success'" class="alert alert-info">Koszyk jest pusty</div>
      <div ng-if="cart.length">
        <h1>Koszyk</h1>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nazwa</th>
              <th>Waga</th>
              <th>Cena</th>
              <th>Ilośc</th>
              <th>Razem</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in cart">
              <td>{{item.name}}</td>
              <td>{{item.weight}}</td>
              <td>{{item.price | number:2}} PLN</td>
              <td>
              <div class="form-group was-validated">
                <input name = "input{{$index}}" required="" class="form-control" style="width:80px;"type="number" ng-model="item.qty" min="1" max="20" /></div>

              <span class="text-danger" ng-show="myForm.input{{$index}}.$error.required">Podaj ilosc</span>
              <span class="text-danger" ng-show="myForm.input{{$index}}.$error.number">Tylko liczby</span>
                <span class="text-danger" ng-show="myForm.input{{$index}}.$error.max">NIe wystarczajaca ilosc towaru ...</span>
                  <span class="text-danger" ng-show="myForm.input{{$index}}.$error.min">Nie posiadamy ujemnego stanu magazynowego</span>
            </td>
              <td><strong>{{item.price * item.qty | number:2}}PLN</strong></td>
              <td><button class="btn btn-danger" ng-click="removeItem( $index)"><i class="fas fa-trash"></i></button></td>
            </tr>
            <td colspan="4"></td>
            <td><strong>{{total() | number:2}} PLN</strong></td>
          </tbody>
        </table>
        <button ng-click="emptyCard()" class="btn btn-danger">Wyczysc koszyk</button>
        <button type="submit" class="btn btn-primary float-right" ng-disabled="!myForm.$valid">Zaplac</button>
      </div>
      <input type="hidden" name="cmd" value="_cart">
      <input type="hidden" name="upload" value="1">
      <input type="hidden" name="charset" value="utf-8">
      <input type="hidden" name="currency_code" value="PLN">
      <input type="hidden" name="business" value="daniel.karczmarczykk@gmail.com">
      <div ng-repeat="item in cart">
        <input type="hidden" name="item_name_{{$index+1}}" value="{{item.name}}">
                <input type="hidden" name="quantity_{{$index+1}}" value="{{item.qty}}">
        <input type="hidden" name="amount_{{$index+1}}" value="{{item.price}}">
      </div>
    </div>
</div>
</form>
