<form ng-submit="formSubmit()">
<div class="container">
  <div class="row">
<div class="col-sm-6 mx-auto">
  <div clas="card">

<div class="card-header">
  <h3>Logowanie</h3>
</div>
    <div class="card-body">
      <div ng-if="errors.login" class="alert alert-danger">{{errors.login}}</div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" ng-class="{'is-invalid' : errors.login}" class="form-control " ng-model="input.email" placeholder="Podaj adres Email"></div>
        <div class="form-group">
        <label>Haslo</label>
        <input type="password" ng-class="{'is-invalid' : errors.login}" class="form-control" ng-model="input.password" placeholder="Haslo"></div>

        <button class="btn btn-primary btn-block">Zaloguj się</button>
      </div>
    </div>

  </div>

        </div>

</div>
</form>
