<div class="container-fluid">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li ng-class="{active: isActive('/products') }"><a class="nav-link" href="#!/products">Produkty</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <li ng-module="cart" ng-if="cartDisplay" ng-class="{active: isActive('/cart') }"><a class="nav-link" href="#!/cart">Koszyk<span style="color:#ffc107; margin:0 auto; text-align:center; height:20px; border-radius:50%;"> {{cartDisplay}}</span></a><li>
          <li ng-class="{active: isActive('/orders') }"><a class="nav-link" href="#!/orders">Zamowienia</a> <li>
          <li ng-class="{active: isActive('/login') }"><a class="nav-link float-right" href="#!/login">Logowanie</a></li>
          <li ng-class="{active: isActive('/register') }"><a class="nav-link float-right" href="#!/register">Rejestracja</a></li>
          <li class="nav-item">
            <li ng-class="{active: isActive('/admin') }"><a class="nav-link" href="#!/admin/users">Admin</a> <li>
        </li>
      </ul>
    </div>
  </nav>
</div>
