<br /><form>
<div class="row">
  <br /><div class="col-sm-12">
    <div class="card bg-light text-dark">
        <div class="card-body">
            <h2 class="text-capitalize"> {{product.name}}
            <span class="badge badge-warning float-right">Cena: {{product.price | number:2}} PLN</span>
            </h2>
                <h3><span class="badge badge-info">Waga: {{product.weight}} kg</span></h3>
                <p> {{product.desc}}</p>

                <a href="#!/products" class="btn btn-primary">Powrot</a>
                    <button ng-click="addToCart(product)" class="btn btn-success float-right">Dodaj do koszyka</button>
            </div>
            <br />
          </div>

        </div>
</div>
</form>
