<br /><form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" placeholder="Wyszukaj" aria-label="Search" ng-model="search">
</form>
<br /><div class="card bg-light text-dark" ng-repeat="product in products | filter: search">
    <div class="card-body">
      <h2><span class="text-capitalize">{{product.name}}</h2></span>
      <span class="badge badge-warning float-right"><h4>{{product.price | number:2}} PLN/kg</h4></span>
      <br /><br /><a href="#!/product/{{$index}}" class="btn btn-info">Szczegoly</a>
      <button ng-click="addToCart(product)" class="btn btn-success float-right">Dodaj do koszyka</button>
    </div>

</div>
</div>
