<form ng-submit="formSubmit()">
<div class="container">
  <div class="row">
<div class="col-sm-6 mx-auto">
  <div clas="card">

<div class="card-header">
  <h3>Rejestracja</h3>
</div>
    <div class="card-body">
      <div ng-if="errors.login" class="alert alert-danger">{{errors.login}}</div>
      <div class="form-group">
        <label>Imię</label>
        <input type="text" ng-class="{'is-invalid' : errors.name, 'is-valid' : !errors.name && submit}" class="form-control " ng-model="input.name" placeholder="Podaj Imie">
          <div class="invalid-feedback">{{errors.name}}</div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" ng-class="{'is-invalid' : errors.emial, 'is-valid' : !errors.email && submit}" class="form-control " ng-model="input.email" placeholder="Podaj adres Email">
        <div class="invalid-feedback">{{errors.email}}</div>
      </div>
        <div class="form-group">
        <label>Haslo</label>
        <input type="password" ng-class="{'is-invalid' : errors.password,  'is-valid' : !errors.password && submit}" class="form-control" ng-model="input.password" placeholder="Haslo">
        <div class="invalid-feedback">{{errors.password}}</div>
      </div>

        <div class="form-group">
        <label>Powtorz Haslo</label>
        <input type="password" ng-class="{'is-invalid' : errors.passconf, 'is-valid' : !errors.passconf && submit}" class="form-control" ng-model="input.passconf" placeholder="Powtorz Haslo">
        <div class="invalid-feedback">{{errors.passconf}}</div>
      </div>

        <button class="btn btn-primary btn-block">Zarejestruj się</button>
      </div>
    </div>

  </div>

        </div>

</div>
</form>
