<div class="container-fluid">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li ng-class="{active: isActive('/admin/products') }"><a class="nav-link" href="#!/admin/products">Produkty</a></li>
        <li ng-class="{active: isActive('/admin/users') }"><a class="nav-link" href="#!/admin/users">Użytkownicy</a> <li>
        <li ng-class="{active: isActive('/admin/orders') }"><a class="nav-link" href="#!/admin/orders">Zamowienia</a> <li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link float-right" href="#!/logout">Wyloguj</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
