<br /><form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" placeholder="Wyszukaj" aria-label="Search" ng-model="search">
</form>
<br />
<div class="accordion" id="accordionExample">
  <div class="card" ng-repeat="order in orders | filter: search">
    <div class="card-header" id="heading{{$index}}" >
      <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Imię</th>
                <th>Email</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>

          <tr>
            <td>{{$index}}</td>
            <td>{{order.name}}</td>
            <td>{{order.email}}</td>
            <!-- <td><form class="form-inline" ng-module="changeStatus.order">
              <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                <option ng-if="{{order.status}}" value="{{order.status = 0}}">Oczkeuje</option>
                <option ng-if="order.status == 1" value="{{$index}}">W przygotowaniu</option>
                <option ng-if="order.status == 2" value="{{$index}}">Wyslane</option>
              </select>
</form></td> -->
            <td><button ng-if="order.status == 0" ng-click="changeStatus(order)" class="btn btn-warning "  >Oczekuje</button>
            <button ng-if="order.status == 1"  ng-click="changeStatus(order)" class="btn btn-info">W Przygotowaniu</button>
                <button ng-if="order.status == 2"  ng-click="changeStatus(order)" class="btn btn-success">Wyslane</button>
              </td>
             <!-- <form>
               <select class="form-control form-control-sm">
                    <option class=" btn btn-warning">Oczekujące</option>
                    <option>W przygotowaniu</option>
                    <option class=" btn btn-success">Wyslane</option>
                </select>
             </form> -->

                  <td><button class="btn btn-danger" ng-click="deleteOrder(order,$index)"><span ><i class="fas fa-trash"></i></span></button></td>
                  <td><button id="order-details-button_{{$index}}" ng-click ="orderDetails($index)" class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapse{{$index}}" aria-expanded="true" aria-controls="collapseOne">Details<i class="fas fa-arrow-down" style="margin-left:10px;"></i></button></td>

          </tr>

        </tbody>
      </table>
    </div>

    <div id="collapse{{$index}}" class="collapse" aria-labelledby="heading{{$index}}" data-parent="#accordionExample">
      <div class="card-body">
        <div id="show-order-details">
         <table class="table">
           <thead>
             <th>Produkt</th>
             <th>Cena</th>
             <th>Waga</th>
             <th>Ilośc</th>
             <th>Do Zaplaty</th>
           </thead>
           <tbody ng-repeat="item in order.items">
             <td>{{item.name}}</td>
             <td>{{item.price}}</td>
             <td>{{item.weight}}</td>
             <td>{{item.qty}}</td>
             <td>{{item.qty * item.price | number:2}} PLN</td>
           </tbody>
         </table>
              <h4 ng-if="order.status != 1">Podsumowanie: {{order.total | number:2}} PLN</h4>
              <h4 ng-if="order.status ==1 ">Zaplacono: {{order.total | number:2}} PLN</h4>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
