  <br /><form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Wyszukaj" aria-label="Search" ng-model="search">
  </form>
  <a href="#!/admin/product/create" class="btn btn-success float-right">Dodaj Produkt</a><br />
  <br /><div class="alert alert-info" ng-repeat="product in products | filter: search">

    <span class="text-capitilize">{{product.name}}</span>
    <br />{{product.weight}} kg/szt
    <br />{{product.desc}}
    <br />{{product.price | number:2}} PLN/kg
    <br /><br /><a href="#!/admin/product/edit/{{$index}}" class="btn btn-light">Edytuj</a>
    <button type="button" class="btn btn-danger float-right" ng-click="deleteProduct( product, $index );">Usuń</button>
  </div>
