<br /><form ng-submit="createProduct()">
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label>Nazwa Produktu: </label>
      <input type="text" class="form-control" ng-model="product.name">

      <label>Opis: </label>
      <textarea rows="5" type="text" class="form-control" ng-model="product.desc"></textarea>

      <label>Waga: </label>
      <input type="text" class="form-control" ng-model="product.weight">

      <label>Cena: </label>
      <input type="text" class="form-control" ng-model="product.price">
    </div>
  </div>
  <br /><div class="col-sm-6">
  <h2> {{product.name}}</h2>
      <p> Waga: {{product.weight}} kg</p>
      <p> {{product.desc}}</p>
      <h3><span class="badge badge-warning">{{product.price | number:2}} PLN</span></h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <hr />
      <button type="sumbit" name="button" class="btn btn-primary"> Zapisz Zmiany</button>
          <a href="#!/admin/products" class="btn btn-primary">Powrot</a>
      <br />
  </div>
</div>
</div>
</form>
