<br /><form ng-submit="saveChanges(product)">
<div class="row" nv-file-drop="" uploader="uploader">
  <div class="col-sm-6">
    <div class="form-group">
      <label>Nazwa Produktu: </label>
      <input type="text" class="form-control" ng-model="product.name">

      <label>Opis: </label>
      <textarea rows="5" type="text" class="form-control" ng-model="product.desc"></textarea>

      <label>Waga: </label>
      <input type="text" class="form-control" ng-model="product.weight">

      <label>Cena: </label>
      <input type="text" class="form-control" ng-model="product.price">
    </div>
    <!-- UPLOAD IMAGES -->

                     <h3>Wybierz zdjecie</h3>

                     <div ng-show="uploader.isHTML5">
                         <!-- 3. nv-file-over uploader="link" over-class="className" -->
                         <div class="card  bg-light my-drop-zone" nv-file-over="" uploader="uploader">
                           <div class="card-body">
                            Upusc Tutaj

                           </div>
                         </div>
                         <br />
                     </div>

                     <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
                     <input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>

                    <br />
                     <table class="table">
                         <thead>
                             <tr>
                                 <th width="50%">Name</th>
                                 <th ng-show="uploader.isHTML5">Size</th>
                                 <th ng-show="uploader.isHTML5">Progress</th>
                                 <th>Status</th>
                                 <th>Actions</th>
                             </tr>
                         </thead>
                         <tbody>
                             <tr ng-repeat="item in uploader.queue">
                                 <td>
                                     <strong>{{ item.file.name }}</strong>
                                     <!-- Image preview -->
                                     <!--auto height-->
                                     <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                     <!--auto width-->
                                     <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                     <!--fixed width and height -->
                                     <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                 </td>
                                 <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                 <td ng-show="uploader.isHTML5">
                                     <div class="progress" style="margin-bottom: 0;">
                                         <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                     </div>
                                 </td>
                                 <td class="text-center">
                                     <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                     <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                     <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                 </td>
                                 <td nowrap>
                                     <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                         <span class="glyphicon glyphicon-upload"></span> Upload
                                     </button>
                                     <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                         <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                     </button>
                                     <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                         <span class="glyphicon glyphicon-trash"></span> Remove
                                     </button>
                                 </td>
                             </tr>
                         </tbody>
                     </table>

                     <div>
                         <div>
                             Queue progress:
                             <div class="progress" style="">
                                 <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                             </div>
                         </div>
                         <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                             <span class="glyphicon glyphicon-upload"></span> Upload all
                         </button>
                         <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                             <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                         </button>
                         <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                             <span class="glyphicon glyphicon-trash"></span> Remove all
                         </button>
                     </div>
  </div>

  <br /><div class="col-sm-6">
  <h2> {{product.name}}</h2>
      <p> Waga: {{product.weight}} kg</p>
      <p> {{product.desc}}</p>
      <h3><span class="badge badge-warning">{{product.price | number:2}} PLN</span></h3>

</div>

<div class="row">
  <div class="col-sm-12">
    <hr />
      <button type="sumbit" name="button" class="btn btn-primary"> Zapisz Zmiany</button>
          <a href="#!/admin/products" class="btn btn-primary">Powrot</a>
      <br />
  </div>

</div>
</div>
</form>
