<br /><form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" placeholder="Wyszukaj" aria-label="Search" ng-model="search">
</form>
<a href="#!/admin/user/create" class="btn btn-success float-right">Dodaj Użytkownika</a><br />
<br />
<table class="table table-hover">
  <thead>
      <tr>
          <th>Id</th>
          <th>Imię</th>
          <th>Email</th>
          <th>Rola</th>
          <th></th>
          <th></th>
      </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users | filter: search">
      <td>{{$index}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>
      <td><a href="#!/admin/user/edit/{{$index}}" class="btn btn-primary"><span ><i class="fas fa-edit"></i></span></a></td>
      <td>  <button type="button" class="btn btn-danger float-right" ng-click="deleteUser(user, $index );"><span><i class="far fa-trash-alt"></i></span></button></td>
    </tr>
  </tbody>
</table>
</div>
