<br /><form ng-submit="saveChanges(user)">
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label>Imię: </label>
      <input type="text" class="form-control" ng-model="user.name">

      <label>Email: </label>
      <input  type="text" class="form-control" ng-model="user.email"></input>

      <label>Nowe haslo: </label>
      <input type="password" class="form-control" ng-model="user.password">

      <label>Powtorz haslo: </label>
      <input type="password" class="form-control" ng-model="user.passwordconf">

      <label>Rola: </label>
      <select class="form-control" ng-model="user.role">
        <option value="user">user</option>
        <option value="admin">admin</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <hr />
      <button type="sumbit" name="button" class="btn btn-primary"> Zapisz Zmiany</button>
          <a href="#!/admin/users" class="btn btn-primary">Powrot</a>
      <br />
  </div>
</div>
</div>
</form>
